---
pagination:
    data: sheet.content
    size: 1
    alias: item
    addAllPagesToCollections: true
permalink: "signatures/{{ item.name | slug | url  }}.html"
tags: dreams
layout: default
---
      <title>{{ item.name }} - Richclicks Email Signature</title>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
      <style>
         @import url(http://fonts.googleapis.com/css?family=Roboto);
      </style>
   </head>
   <body>
      <table style="width: 360px;">
         <tbody>
            <tr>
               <td colspan="5"><img style="width:120px; height:120px;" src="https://bucket.richclicks.co.uk/firme/{{ item.name | slug | url  }}.{{ item.imgext }}" alt="{{ item.name }}"></td>
               <td style="vertical-align: middle;">
                  <span style="font-family: Roboto, sans-serif; color:#000; font-size:12pt;font-weight: 700;line-height: 1;letter-spacing: 0.5; text-transform: uppercase;">{{ item.name }}<br></span>
                  <span style="font-family: Roboto, sans-serif; color:#000; font-size:11pt;font-weight: 500;line-height: 1.5;letter-spacing: 0.5;"> &lt; {{ item.role }} &gt; </span><br>
                  
                  <span style="font-family: Roboto, sans-serif; color:#000; font-size:9pt;">UK <a style="text-decoration: none; color:#000;" href="tel:0044{{ item.engtel }}">+44 {{ item.engtel }}</a> 
                  <br>Italy <a style="text-decoration: none; color:#000;" href="tel:0039{{ item.itatel }}">+39 {{ item.itatel }}</a> 
                  {% if item.skype %}
                    <br>Skype <a style="text-decoration: none; color:#000;" href="skype:{{ item.skype }}?call">{{ item.skypename }}</a></span>
                  {% endif %}
                  <a style="padding-top:5px; padding-bottom:5px; clear:both; display:block;" href="https://www.richclicks.co.uk/?utm_source=email&utm_medium=firma"><img style="margin-left:0px; margin-right:20px; width:120px; height:auto;" src="https://bucket.richclicks.co.uk/firme/richclicks-logo-blu-ara.png" alt="RichClicks"></a>
               </td>
               
            </tr>
         
         </tbody>
      </table>
   </body>
</html>